# sunstardb long example

This notebook contains an extended example of the sunstardb application programming interfaces (APIs).  The focus is on "data discovery", that is on methods to find out what are the contents of the database.

## import libraries

First we load libraries which will be useful for this exercise.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import astropy
import sunstardb.database
import IPython.display

In [3]:
%matplotlib inline

## connect to the database

This command establishes a connection to the sunstardb database, which is implemented in PostgreSQL.

In [4]:
db = sunstardb.database.SunStarDB()

## data types

These are the kinds of data contained in the database.  They may come from various sources.

In [5]:
dtypes = db.fetchall_datatypes()
print "N datatypes", len(dtypes)
dtypes

N datatypes 9

<Table length=9>
  id  ...
int64 ...
----- ...
    1 ...
    2 ...
    3 ...
    4 ...
    5 ...
   10 ...
   11 ...
   12 ...
   13 ...

## data sources

A 'source' represents the format the data was in immediately before being inserted into sunstardb.  Most come from data files (`kind='FILE'`), but processed results directly from code are another possibility (`kind='CODE'`).  The `name` is a unique identifier of the data package which was read into sunstardb.

In [6]:
sources = db.fetchall_sources()
print "N sources", len(sources)
sources

N sources 19

<Table length=19>
  id          name         ...     source_time            insert_time
int64        str20         ...        object                 object
----- -------------------- ... ------------------- --------------------------
    1         Baliunas1995 ... 2014-09-18 20:28:12 2014-11-07 15:02:32.592585
  132           Gaidos2000 ... 2016-02-11 17:09:58 2016-02-11 17:10:45.847451
    9           Duncan1991 ... 2014-11-07 15:08:18 2014-11-07 15:16:51.076503
   19            SMARTS_HK ... 2014-12-05 14:46:14 2014-12-05 14:46:14.882798
  143            Petit2008 ... 2016-02-12 12:16:13 2016-02-12 12:16:57.563765
  147          Simpson2010 ... 2016-02-12 14:08:17 2016-02-12 14:08:46.560031
  152 Suarez_Mascareno2015 ... 2016-02-12 14:43:59 2016-02-12 14:45:11.149287
  154             Olah2016 ... 2017-01-27 15:40:28 2017-01-27 15:40:42.427325
  158       Hempelmann2016 ... 2017-02-02 14:09:36 2017-02-02 14:09:36.715040
  160          Donahue1997 ... 2017-02-03 15:10:47 2017-02-03 15:10:47.803152
   51         Isaacson2010 ... 2015-01-19 15:57:40 2015-01-19 15:59:29.824817
   54                HARPS ... 2015-01-20 18:32:53 2015-01-20 18:32:53.963037
   62          FairbornAPT ... 2015-02-17 11:50:23 2015-02-17 11:50:38.293245
   70                  SSS ... 2015-10-01 13:54:38 2015-10-01 13:55:54.261018
   75               MWO_HK ... 2016-02-03 15:25:08 2016-02-03 15:25:08.017729
   90         Baliunas1996 ... 2016-02-10 12:07:49 2016-02-10 12:12:45.036267
  100          Donahue1996 ... 2016-02-11 14:27:16 2016-02-11 14:27:25.346527
  107            Noyes1984 ... 2016-02-11 15:02:57 2016-02-11 15:04:36.131857
  112       Donahue1993phd ... 2016-02-11 15:27:48 2016-02-11 15:28:47.514933

## data origins

An origin represents the provider of data inserted into sunstardb.  Most are from published tables in the literature that were transcribed to a text file which was inserted into sunstardb (e.g. `kind='PAPER'` `name='Baliunas et al. 1995'`).  Others were data files provided by persons associated with observation programs (e.g. `kind='RAW'`, `name='Willie Soon'`).

In [7]:
origins = db.fetchall_origins()
print "N origins", len(origins)
origins

N origins 19

<Table length=19>
  id              name             ...        insert_time
int64            str28             ...           object
----- ---------------------------- ... --------------------------
    1         Baliunas et al. 1995 ... 2014-11-07 15:02:32.592585
  111           Gaidos et al. 2000 ... 2016-02-11 17:10:45.847451
  126          Simpson et al. 2010 ... 2016-02-12 14:08:46.560031
    9              VizieR III/159A ... 2014-11-07 15:16:51.076503
  137          Donahue et al. 1997 ... 2017-02-03 15:10:47.803152
   13                  Willie Soon ... 2014-11-07 15:45:07.959384
   16       SMARTS HK Data Website ... 2014-11-07 15:51:18.230304
   18                 Jeffrey Hall ... 2014-11-18 10:38:18.780504
  135       Hempelmann et al. 2016 ... 2017-02-02 13:31:44.470250
   50         VizieR J/ApJ/725/875 ... 2015-01-19 15:59:29.824817
   53                 Megan Bedell ... 2015-01-20 18:32:53.963037
   54                Gregory Henry ... 2015-02-17 11:42:53.012504
   69         Baliunas et al. 1996 ... 2016-02-10 12:12:45.036267
  122            Petit et al. 2008 ... 2016-02-12 12:16:57.563765
  131 Suarez Mascareno et al. 2015 ... 2016-02-12 14:45:11.149287
  133             Olah et al. 2010 ... 2017-01-27 15:40:42.427325
   79          Donahue et al. 1996 ... 2016-02-11 14:27:25.346527
   86            Noyes et al. 1984 ... 2016-02-11 15:04:36.131857
   91      Donahue 1993 PhD Thesis ... 2016-02-11 15:28:47.514933

## instruments

Most of the data in sunstardb comes from observation programs.  The instrument responsible for obtaining the data is associated with each datum.

In [8]:
instruments = db.fetchall_instruments()
print "N instruments", len(instruments)
instruments

N instruments 10

<Table length=10>
  id        name       ... description        insert_time
int64      str16       ...     str4              object
----- ---------------- ... ----------- --------------------------
    1           MWO-HK ...        TODO 2014-11-07 15:02:31.066051
    2        SMARTS-HK ...        TODO 2014-11-07 15:02:31.066051
    3              SSS ...        TODO 2014-11-18 10:32:43.681545
    4       Keck HIRES ...        TODO 2015-01-15 11:07:11.618892
    5            HARPS ...        TODO 2015-01-20 18:28:46.494184
    6  Fairborn APT T4 ...        TODO 2015-02-17 11:28:38.808606
    7  Fairborn APT T3 ...        TODO 2016-02-11 16:51:44.147206
    8           NARVAL ...        TODO 2016-02-12 11:54:05.184881
    9 Fairborn APT T11 ...        TODO 2016-02-12 14:07:16.376686
   10            TIGRE ...        TODO 2017-02-02 13:30:00.305440

## stars

Each datum is associated with a particular star.  This primitive API returns the contents of the `star` table directly.

**TODO: Develop a more user-friendly way of accessing the known stars**.

In [9]:
stars = db.fetch_starlist()
print "N stars", len(stars)
stars[0:3]

N stars 1374

[[1,
  'Sun',
  '00 00 0.0 +00 00 0.0',
  0.0,
  0.0,
  datetime.datetime(2014, 11, 7, 15, 2, 32, 592585)],
 [2,
  '* 9 Cet',
  '00 22 51.7884 -12 12 33.969',
  5.715785,
  -12.2094358333333,
  datetime.datetime(2014, 11, 7, 15, 2, 32, 592585)],
 [3,
  'HD 2454',
  '00 28 20.0517 +10 11 23.450',
  7.08354875,
  10.1898472222222,
  datetime.datetime(2014, 11, 7, 15, 2, 32, 592585)]]

## Properties

A `property` is a single datum in sunstardb.  It declares that a given `datatype` exists for a `star`, from the associated `source`, `origin`, and `instrument`.  This primitive API returns the contents of the `property` table directly, which is simply a collection of integer keys.

**TODO: Develop a more user-friendly way of accessing properties.**.

In [10]:
props = db.fetchall_properties()
print "N properties", len(props)
props[0:3]

N properties 1191

[[1, 1, 1, 1, 1, 1, datetime.datetime(2014, 11, 7, 15, 2, 32, 592585)],
 [2, 2, 1, 1, 1, 1, datetime.datetime(2014, 11, 7, 15, 2, 32, 592585)],
 [3, 3, 1, 1, 1, 1, datetime.datetime(2014, 11, 7, 15, 2, 32, 592585)]]

## Datasets

A dataset is a collection of properties that consists of unique `star`, `datatype` pairs.  Essentially, it is a table of data with non-redundant entries for each data type.  A dataset is automatically generated from each data source (above), which creates a table identical to the data source.

**TODO: In the future, datasets will be added which correspond to published collections of heterogeneous measurements, for example that of Saar & Brandenburg 1999 and Bohm-Vitense 2007.**

In [11]:
dsets = db.fetchall_datasets()
print "N datasets", len(dsets)
dsets

N datasets 19

<Table length=19>
  id          name         ...        insert_time
int64        str20         ...           object
----- -------------------- ... --------------------------
    1         Baliunas1995 ... 2014-11-07 15:02:32.592585
    2           Duncan1991 ... 2014-11-07 15:16:51.076503
    7            SMARTS_HK ... 2014-12-05 14:46:14.882798
    9         Isaacson2010 ... 2015-01-19 15:59:29.824817
   10                HARPS ... 2015-01-20 18:32:53.963037
   15          FairbornAPT ... 2015-02-17 11:50:38.293245
   17                  SSS ... 2015-10-01 13:55:54.261018
   20               MWO_HK ... 2016-02-03 15:25:08.017729
   25         Baliunas1996 ... 2016-02-10 12:12:45.036267
   31          Donahue1996 ... 2016-02-11 14:27:25.346527
   33            Noyes1984 ... 2016-02-11 15:04:36.131857
   36       Donahue1993phd ... 2016-02-11 15:28:47.514933
   39           Gaidos2000 ... 2016-02-11 17:10:45.847451
   41            Petit2008 ... 2016-02-12 12:16:57.563765
   44          Simpson2010 ... 2016-02-12 14:08:46.560031
   46 Suarez_Mascareno2015 ... 2016-02-12 14:45:11.149287
   48             Olah2016 ... 2017-01-27 15:40:42.427325
   50       Hempelmann2016 ... 2017-02-02 14:09:36.715040
   51          Donahue1997 ... 2017-02-03 15:10:47.803152

### Fetching a dataset and displaying a feature-rich table

Below we fetch the contents of one of the datasets and use the `astropy.table.Table` method `show_in_notebook()` to render the table as a paginated, sortable, searchable HTML table.  Clicking on the column name sorts the table, entering text in the search field filters results.  For example, type "flat" to show only the flat-activity stars in Baliunas et al. 1995.

In [12]:
b95 = db.fetch_data_table('Baliunas1995', ['S_mean', 'activity_class', 'Pcyc'])
b95.show_in_notebook(display_length=10)

AttributeError: 'Table' object has no attribute 'show_in_notebookb'

## Filtering dataset tables

Filtering can be done programatically as well, in the usual way for `astropy` tables or `numpy` arrays.  Here we filter out the flat-activity stars and plot them in a histogram along with the full distribution.

In [ ]:
sel_flats = b95['activity_class'] == 'flat' # select the flat stars
flats = b95[sel_flats]

# Plot histogram of activity, highlighting the flat-activity stars
plt.figure(figsize=(4,4))
bins = np.arange(0., 1.4, 0.05)
plt.hist([b95['S_mean'], flats['S_mean']], bins, histtype='step', label=['All Stars', 'Flat Stars'])
plt.legend()
plt.title("B95 Mean Activity")
plt.xlabel('S-index')

## Client-side joining dataset tables

Multiple datasets can be joined together client-side.  In astronomy parlance this is known as "cross-matching", but it is done more directly here by the star name.

In [ ]:
# Fetch the rotation periods from the Donahue1996 dataset
d96_rots = db.fetch_data_table('Donahue1996', ['Prot'])

# Join the cycle and rotation data on the star name and display the results
cycrots = astropy.table.join(b95, d96_rots, keys=['star'])
cycrots.show_in_notebook(display_length=10)

The results of the join can be plotted inline.

In [ ]:
# Plot cycle period versus rotation period
plt.figure(figsize=(4,4))
plt.plot(cycrots['Prot'], cycrots['Pcyc'], 'ko')
plt.xlabel('P_rot [d]')
plt.ylabel('P_cyc [yr]')
plt.title("Cycle Period vs Rotation Period")

## Fetching Time Series

Time series may be accessed with the `fetch_timeseries` method.  To find which stars have time series in the database, the `fetch_starlist` method is used.  In this example we fetch and display three time series from the MWO HK Project.

In [ ]:
# Get the list of stars which have timeseries data from the MWO_HK source
mwo_stars = db.fetch_starlist('timeseries', source='MWO_HK')

# Iterate through the list, print statistics and plot
for star in mwo_stars[0:3]: # Limit to 3 for this example
    starname = star['name']
    
    # Fetch the time series from sunstardb
    ts_mwo = db.fetch_timeseries('S', starname, source='MWO_HK')
    # Convert time axis from 'datetime' object to astropy.time.Time
    t_mwo = astropy.time.Time(ts_mwo['obs_time'], format='datetime')
    S_mwo = ts_mwo['S']
    # Print statistics
    print "%-15s N_obs=%4i t_start=%s t_end=%s" % (starname, S_mwo.size, t_mwo[0].isot, t_mwo[-1].isot)
    
    # Plot timeseries
    plt.figure(figsize=(8,2))
    plt.plot(t_mwo.decimalyear, S_mwo, 'r.')
    plt.title(starname)
    plt.xlabel('Year')
    plt.ylabel('S-index')